# =========================
# Python build / cache
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual environments
# =========================
venv/
.env/
env/
.venv/

# =========================
# IDE / Editors
# =========================
# PyCharm
.idea/
# VSCode
.vscode/
# Visual Studio
.vs/

# =========================
# OS junk
# =========================
.DS_Store
Thumbs.db
desktop.ini
._*
.fseventsd/

# =========================
# Distribution / Packaging
# =========================
build/
dist/
*.egg-info/
*.spec

# =========================
# Logs / backups
# =========================
*.log
*.bak
*.tmp

# =========================
# Compiled resources
# =========================
*.so
*.dll
*.exe
*.o
*.a
*.lib

# =========================
# Temporary data
# =========================
*.swp
*.swo
*.orig

# Pliki konfiguracyjne użytkownika
config/config.json
config/hotkeys.json
firmware/boot_out.txt

# Cache PyInstaller / build
__pyinstaller/
